/* TotalCostCalculateur.css */

.cost-calculator-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  padding: 10px;
  background-color: rgba(78, 78, 78, 0.705);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.952);
  border-radius: 4px;
  transition: box-shadow 0.3s ease;
}

.total-cost {
  width: 100%;
}
.presouscost {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
}

.cost-calculator-header {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.cost-calculator-cost {
  color: #ffffff;
  text-align: center;
}

.multiplier-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multiplier-controls button {
  width: 30px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 23px;
}

.multiplier-controls button:hover {
  background-color: rgba(5, 30, 80, 1); /* Darker shade for hover effect */
  color: white;
}

.multiplier-controls span {
  width: 29px;
  text-align: center;
  font-size: 24px;
  color: #fff; /* White color for better visibility against the background */
}

.nav-btn {
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: rgba(5, 30, 80, 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(3, 136, 123, 1);
  color: white;
  transition: background-color 0.3s ease;
  border: 2px solid rgb(255 255 255);
}

.nav-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.spaceBtn {
  display: flex;
  font-size: 16px;
  gap: 10px;
}

@media (max-width: 1050px) {
  .cost-calculator-container {
    flex-direction: row;
    padding: 5px;
  }

  .total-cost {
    width: 50%;
  }

  .presouscost {
    width: 55%;
  }
  .nav-btn {
    padding: 5px;
    font-size: 12px;
  }
  .color-choice {
    font-size: 10px;
  }
}
