.ma-containerG {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.ma-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.ManoeuvreSectionG {
display: flex;
flex-direction: column;
gap: 10px;
}


.ma-container-INTERRUPTEUR {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-self: center;
  margin: auto;
}

.ma-btn {
  background-color: rgba(5, 30, 80, 1);
  border: 2px solid rgba(255, 255, 255, 0.644);
  border-radius: 5px;
  width: 100%;
}

.ma-btn:hover {
  background-color: rgba(179, 186, 230, 1);
  color: #000;
}

.INTERRUPTEUR-btn.selected {
  color: rgb(0, 0, 0); /* This will change the text color to blue when selected */
  background-color: #ffffff;
  border: 2px solid rgba(5, 30, 80, 1);
}

.INTERRUPTEUR-btn {
  width: 130px;

  background-color: rgba(5, 30, 80, 1);
  border: 2px solid rgba(5, 30, 80, 1);
  border-radius: 5px;
}

.choice-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.button-image {
  width: 80px;
  height: 80px;
}

.ma-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
}

.ma-sous-details-Tele {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(5, 30, 80, 1);
  border: none;
  border-radius: 5px;
}

.ma-sous-details {
  display: flex;
  justify-content: center;
}

.ma-button-image {
  width: 50px;
  height: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-1 {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1050px) {
  .button-image {
    display: none;
  }
  .choice-description {
    display: none;
  }
  .ManoeuvreSection {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .OptionSection{
    width: 50%;
  }
}

@media (max-width: 1349px) {
  .button-image {
    width: 50px;
    height: 50px;
  }
  .choice-description {
    display: none;
  }

    
    .ManoeuvreSection {
      display: flex;
      flex-direction: row;
    }
}