.LameChoices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative; /* Add position relative here */
}

.choice-btn {
  display: flex;
  background-color: rgba(5, 30, 80, 1);
  border-radius: 5px;
  padding: 5px;
  gap: 20px;
  cursor: pointer; /* Added to indicate it's clickable */
}

.choice-btn:hover {
  background-color: rgba(179, 186, 230, 1);
  color: #000;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 80%;
}

.sous-details {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.popup-image {
  width: 150px;
  height: 150px;
}

.popup-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 200px; /* adjust width as necessary */
  padding: 10px;
  background-color: rgba(5, 30, 80, 1);
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* optional: adds shadow for better visibility */
  z-index: 10; /* Ensure it's above other elements */
}

.poseOptions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media (max-width: 812px) and (max-height: 1024px) {
  .LameChoices-container {
    flex-direction: row;
  }

  .choice-btn {
    width: 50%;
  }

  .poseOptions-container {
    flex-direction: row;
    gap: 5px;
  }

  .popup-info {
    display: none;
  }
  .sous-details {
    gap: 0px;
  }
  .details {
    width: 100%;
}
}
