.LameChoices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative; /* Add position relative here */
}

.choice-btn {
  display: flex;
  background-color: rgba(94, 197, 238, 0.644);
  border: 2px solid rgb(126, 126, 126); /* consolidated border property */
  border-radius: 5px;
  padding: 5px;
  gap: 20px;
  cursor: pointer; /* Added to indicate it's clickable */
}

.choice-btn:hover {
  background-color: #73ff01;
  color: #000;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 80%;
}

.sous-details {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.choice-label {
  vertical-align: middle;
  font-weight: bold;
  text-transform: capitalize;
}

.popup-image {
  width: 150px;
  height: 150px;
}

.popup-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-left: 40px;
  top: 0; /* Aligns popup to the top of the container */
  width: 200px; /* adjust width as necessary */
  padding: 10px;
  background-color: rgb(12, 17, 63);
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* optional: adds shadow for better visibility */
  z-index: 10; /* Ensure it's above other elements */
}


.PoseOptions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


@media (max-width: 1050px) and (min-height: 800px) {
  .LameChoices-container {
flex-direction:row;
  }
  .choice-btn {
    width: 50%;
  }

  .PoseOptions-container {
    flex-direction: row;
  }
  .popup-info {
    display: none;
  }
  .sous-details {
    gap: 0px;
  }
}